* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* 12-43 ALL HEADER STYLING  */
/* Nice and thick header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Changes the 'seo' in Horiseon to a slightly different color */
.header h1 .seo {
    color: #d9dcd6;
}
/* Separates the links in the header to the top right of the page */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Removes the bullets from the links for a cleaner look */
.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Big and bold image that pops when you open the browser */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Images for Services */
/* Moving a couple images to the left of the information to add a little bit of variety to the browser */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Image for Services */
.float-right {
    float: right;
    margin-left: 25px;
}
/* Making the services take up a majority of the page since we want people to know what we offer */
.Services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* 79-104 ALL BENEFITS STYLING HERE */
/* Displayed vertically alongside services so the customer can determine the service they need */
.Benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.BenefitsInfo {
    margin-bottom: 32px;
    color: #ffffff;
}

.BenefitsIngo h3 {
    margin-bottom: 10px;
    text-align: center;
}

.BenefitsInfo img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* 108-128 ALL SERVICES STYLING except for content box sizing on 72 */
.ServicesInfo {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.ServicesInfo img {
    max-height: 200px;
}

.ServicesInfo h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
 
/* Just footer things */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
